.weather { 
    place-self: center; 
    /*we can do this b/c we already applied display: grid to it through index.css 
        with className="app-container"*/
    padding: 40px; 
    border-radius: 10px; 
    background-image: linear-gradient(45deg, #fecc9f,#f2df9f, #d8f5b1); 
        /*the backgorund color of the box in the middle*/
    /*these below should have everything inside the container stack on top of each other*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222222;
}

h1 {
    color: black;
    font-size: 60px;
    padding-bottom: 10px;
}

.searchbar, .weather-data, .weather-data .col {
    display: flex;
}

.searchbar {    
    display: flex; /*we want items to align side-by-side*/
    align-items: center;
    gap: 5px;
}

.searchbar input {
    font-size: 18px;
    height: 50px;
    border-radius: 40px;
    padding-left: 10px;
    border: none;
    color: #555555; /*dark gray color*/
}

.searchbar img {
    mix-blend-mode: multiply; /*removes the white background from the image*/
    width: 50px;
    border-radius: 50%; /*makes it round*/
    cursor: pointer; 
}

.searchbar img:hover {
    border: dashed 2px #f3b6c7;
}

.weatherIcon {
    width: 150px;
    margin: 20px 0 10px 0; /*clockwise direction*/
}

.weatherDataMain {
    text-align: center;
}

.temp {
    font-size: 48px;
    line-height: 1;
}

.temp a {
    color:#222222;
    text-decoration: none;    
}

.temp a:hover {
    color: #F25477;
    text-decoration: wavy underline 3px #F25477;
}

.weatherDescribe {
    font-size: 35px;
}

.mapIconLocation { /*I want the mapIcon to sit next to the locationName*/
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.weatherDataMain img { /*this should be the mapIcon img*/
    width: 40px;
}

.location {
    font-size: 38px;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
}

.weather-data .col{
    align-items: flex-start;
    gap: 8px;
    margin-left: 10px;
    font-size: 20px;
}

.weather-data .col img {
    width: 65px;
    padding: 8px; 
}
