.weather { 
    place-self: center; 
    /*we can do this b/c we already applied display: grid to it through index.css 
        with className="app-container"*/
    padding: 40px; 
    border-radius: 10px; 
    background-image: linear-gradient(45deg, #fecc9f,#f2df9f, #d8f5b1);
    /*these below should have everything inside the container stack on top of each other*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    padding-bottom: 10px;
}

.searchbar {
    display: flex; 
    align-items: center;
    gap: 5px;
}

.searchbar input {
    font-size: 18px;
    height: 50px;
    border-radius: 40px;
    padding-left: 10px;
    border: none;
    color: #555555; /*dark gray color*/
}

.searchbar img {
    mix-blend-mode: multiply; /*removes the white background from the image*/
    width: 50px;
    border-radius: 50%; /*makes it round*/
    cursor: pointer; 
}

.searchbar img:hover {
    border: dashed 2px #f3b6c7;
}