* { /*applies onto everything*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
}

.app-container {
  min-height: 100vh;
  display: grid; /*should align our app in the middle*/
  background-image: linear-gradient(to right top, 
    #d5dee7, 
    #ffbab9,
    #fecc9f, 
    #e2eea8, 
    #c9ffbf);
}

/*dark mode maybe? 
#2a2118 
#004546
#013360
#1d1157
#360040
*/
